<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pagean Results</title>
	<style>
		html {
			margin: 0;
			padding: 0;
		}

		body {
			color: #333333;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 0.85rem;
			margin: auto;
			max-width: 1000px;
			padding: 1rem;
		}

		ul {
			margin: 0;
			margin-block: 0;
			margin-inline: 0;
			padding: 0;
			padding-inline: 0;
		}

		li {
			list-style: none;
		}

		h1 {
			margin: 1rem 0 0.75rem;
			margin-block: 0;
			margin-inline: 0;
		}

		h2 {
			font-size: 1rem;
		}

		.pre {
			font-family: monospace;
			white-space: pre-wrap;
		}

		.project,
		.started {
			margin: 0;
			padding-bottom: 0.5rem;
		}

		.test-summary {
			display: flex;
			flex-direction: row;
			margin-bottom: 2rem;
			max-width: 50%;
		}

		.summary {
			background-color: #f4f4f4;
			border: 1px solid #333333;
			display: inline-block;
			flex: 1 1 10%;
			margin: 0 0.25rem;
			padding: 0.25rem 0.5rem;
		}

		.summary:first-of-type {
			margin-left: 0;
		}

		.summary:last-of-type {
			margin-right: 0;
		}

		.passed {
			background-color: #dff2bf;
			border: 1px solid #44760f;
			color: #44760f;
		}

		.failed {
			background-color: #ffbaba;
			border: 1px solid #ad000c;
			color: #ad000c;
		}

		.warning {
			background-color: #fdec96;
			border: 1px solid #7e6902;
			color: #7e6902;
		}

		.test-results h2 {
			margin-block-end: 0;
			margin-block-start: 1rem;
		}

		details summary .name::after {
			content: " ⏵";
		}

		details[open] summary .name::after {
			content: " ⏷";
		}

		summary {
			cursor: pointer;
			list-style: none;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		li.test {
			margin: 0.25rem 0;
			padding: 0.5rem 1rem;
		}

		.test .header {
			display: flex;
			flex-direction: row;
		}

		.test .header .name {
			flex: 1 1 75%;
		}

		.test .header .result {
			flex: 1 1 25%;
			text-align: right;
		}

		.test .data,
		.test .time,
		.test .error {
			padding-left: 10px;
		}

		.test .data h3 {
			font-size: inherit;
			font-weight: normal;
			margin: 0.25rem 0 0;
			margin-block: 0;
		}

		.test .data li {
			background-color: inherit;
			border-style: none;
			padding: 0.25rem;
		}

		.test .data li:hover {
			background-color: rgba(255 255 255 / 10%);
			border: 1px dotted;
			border-right: 4px solid;
			padding: calc(0.25rem - 1px);
		}

		.test .data .pre {
			margin: 0 0 0.25rem;
		}

		.test .time {
			margin: 0.25rem 0 0;
		}
	</style>
</head>

<body>
	<header>
		<h1 id="title">Pagean Results</h1>
	</header>
	<main>
		<h2 class="project">Project: {{project}}</h2>
		<section class="started">Started: {{executionStart}}</section>
		<section class="test-summary">
			<div class="summary">URLs: {{results.length}}</div>
			<div class="summary">Tests: {{summary.tests}}</div>
			<div class="summary passed">Passed: {{summary.passed}}</div>
			<div class="summary warning">Warning: {{summary.warning}}</div>
			<div class="summary failed">Failed: {{summary.failed}}</div>
		</section>
		<section class="test-results">
			{{#results}}
			<h2>URL: {{url}}</h2>
			<ul class="tests">
				{{#tests}}
				<li class="test {{result}}">
					{{#if data}}
					<details>
						<summary class="header">
							<div class="name">{{name}}</div>
							<div class="result">{{result}}</div>
						</summary>
						{{#if data.length}}
						<div class="data">
							<h3>Messages:</h3>
							<ul>
								{{#each data}}
								<li>
									<div class="pre">{{json .}}</div>
								</li>
								{{/each}}
							</ul>
						</div>
						{{else if data.pageLoadTime}}
						<div class="time">Load time: {{data.pageLoadTime}}s</div>
						{{else if data.error}}
						<div class="error">
							<h3>Error:</h3>
							<div class="pre">{{json data.error}}</div>
						</div>
						{{/if}}
					</details>
					{{else}}
					<div class="header">
						<div class="name">{{name}}</div>
						<div class="result">{{result}}</div>
					</div>
					{{/if}}
				</li>
				{{/tests}}
			</ul>
			{{/results}}
		</section>
	</main>
</body>

</html>
